<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <link rel="stylesheet" href="../assets/style.css" />
    <link
      rel="shortcut icon"
      href="../assets/image/Hangeria_1logo_2-removebg-preview.png"
      type="image/x-icon"
    />
    <title>Hangeria-Website</title>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="logo">
          <a
            href="https://www.instagram.com/hangeria.store?igsh=aGFidmxna3dmd2Jr"
            ><img
              src="/assets/image/Hangeria_1logo_2-removebg-preview.png"
              alt="Logo"
          /></a>
        </div>

        <ul class="nav-links">
          <li><a href="#about">About</a></li>
          <li><a href="https://id.shp.ee/i1gq2or">Shopee</a></li>
          <li>
            <a
              href="https://www.instagram.com/hangeria.store?igsh=aGFidmxna3dmd2Jr"
              >Instagram</a
            >
          </li>
          <li>
            <a
              href="https://wa.me/6285725111466?text=Permisi%20saya%20ingin%20memesan%20hangeria"
              >Contact</a
            >
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <div class="intro">
        <img
          src="../assets/image/Hangeria_1logo_2-removebg-preview.png"
          alt="logo-intro"
        />
        <div class="title">
          <h1>Wellcome To <span>Hangeria</span> Website</h1>
          <p>Baju Rapih, Tenang Di Hati~</p>
        </div>
      </div>
    </main>

    <section id="about" class="content-section-1">
      <div
        data-aos="fade-up"
        data-aos-delay="600"
        data-aos-duration="300"
        class="masuk-1"
      >
        <h2>Welcome to Hangeria website</h2>
        <p>
          This is a simple section to demonstrate how to structure your content
          using HTML and CSS. We aim to provide the best services to our
          customers and ensure they have a great experience.
        </p>
      </div>
    </section>

    <section class="content-section-2">
      <div
        data-aos="fade-up"
        data-aos-delay="600"
        data-aos-duration="300"
        class="masuk-2"
      >
        <div class="flex-box">
          <div
            data-aos="flip-up"
            data-aos-delay="750"
            data-aos-duration="500"
            class="box"
          >
            <img
              src="../assets/image/WhatsApp Image 2024-06-11 at 09.17.21_19b55bbb gantngan 2.jpg"
              alt=""
            />
            <p>Lorem ipsum dolor sit.</p>
          </div>
          <div
            data-aos="flip-up"
            data-aos-delay="750"
            data-aos-duration="500"
            class="box"
          >
            <img src="../assets/image/gantungam-fixed.jpg" alt="" />
            <p>Lorem ipsum dolor sit amet.</p>
          </div>
          <div
            data-aos="flip-up"
            data-aos-delay="750"
            data-aos-duration="500"
            class="box"
          >
            <img
              src="../assets/image/WhatsApp Image 2024-06-11 at 09.24.18_d372ca4b gantungan 4.jpg"
              alt=""
            />
            <p>Lorem ipsum dolor sit amet consectetur.</p>
          </div>
        </div>
      </div>
    </section>

    <section class="content-section-3">
      <div
        data-aos="fade-up"
        data-aos-delay="600"
        data-aos-duration="300"
        class="masuk-3"
      >
        <h2>Kelebihan</h2>
        <br />
        <p>
          Ramah Lingkungan, Mudah Digunakan, Menjaga Pakaian, Menghindari
          Tumpukkan Baju.
        </p>
      </div>
    </section>

    <!-- <section class="feedback-section">
      <div
        data-aos="fade-up"
        data-aos-delay="600"
        data-aos-duration="300"
        class="masuk-5"
      >
        <form id="ulason">
          <label class="nama" for="name">Nama</label>
          <input type="text" name="name" id="name" required/>
          <label class="ulas" for="feedback">Ulasan</label>
          <textarea name="feedback" id="feedback" rows="4" cols="50" required></textarea>
          <button type="submit">Kirim</button>
        </form>
        <div class="feedback-board">
          Ulasan Pengguna
        </div>
      </div>
    </section> -->

    <section class="content-section-end">
      <div
        data-aos="fade-up"
        data-aos-delay="600"
        data-aos-duration="300"
        class="masuk-4"
      >
        <div class="kiri">
          <img
            src="../assets/image/Hangeria_1logo_2-removebg-preview.png"
            alt="logo-kiri"
          />
        </div>
        <div class="kanan">
          <p style="color: white">
            Hangeria berkomitmen untuk menyediakan layanan terbaik kepada
            pelanggannya melalui teknologi canggih dan layanan pelanggan yang
            responsif.
          </p>
          <a style="color: #c39898" href="#about">read more></a>
          <div class="contact">
            <div>
              <span style="color: white" class="material-symbols-outlined">
                call
              </span>
              <span style="color: white">+62 857-2511-1466</span>
            </div>
            <div>
              <span style="color: white" class="material-symbols-outlined">
                mail
              </span>
              <span style="color: white">hangeria@gmail.com</span>
            </div>
            <div>
              <span style="color: white" class="material-symbols-outlined">
                location_on
              </span>
              <span style="color: white">SMKNEGERI 1 JATIROTO WONOGIRI</span>
            </div>
            <div>
              <span style="color: white" class="material-symbols-outlined">
                door_open
              </span>
              <span style="color: white">Senin - Jumat (08.00 - 15.15)</span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <p>SMK NEGERI 1 JATIROTO | PROJEK KOLABORSI</p>
      <p>&copy;copyright hangeria-website 2024</p>
    </footer>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="../assets/js/main.js"></script>
  </body>
</html>
